.create-event-bg {
  background-color: var(--background); /* #F9FAFB */
}

.btn-save {
  background-color: var(--primary) !important;
  border: none !important;
  padding: 10px 18px;
  border-radius: 12px;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-save:hover {
  background-color: var(--accent) !important;
}

.img-preview {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}